a.btn3{
    color: #fff;
    width: auto;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 4.5px 16px;
    margin: 20px 2px;
    text-decoration: none;
    background-color: rgb( 27, 124, 173 );
}
a.btn3:hover {
    color: #daf6ff;
}
