{% extends 'user/layout.html' %}
{% load static %}
{% block title %}
    Главная
{% endblock %}

{% block script %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
{% endblock %}

{% block content %}
<div class = 'Weather_box'>
    <div class="div1">
        <h2  class='Inf'>{{Today.inf}}</h2>
        <p  class='Date'>{{Today.date}}</p>
    </div>
    <div class="div2">
        <div id = "image_info">

        </div>
        <p class = 'Falls'>{{Today.falls}}</p>
    </div>
    <div class="div3">
        <div class="div3_1">
            <p class = 'Temp'>{{Today.temp}}</p>
        </div>
        <div class="div3_2">
            <p class="temp_feeling"> {{Temp_Feeling}} </p>
        </div>
    </div>
    <div class="div4">
        <p class = 'Press'>Давление {{Today.press}}</p>
        <p class = 'Wind'> Ветер {{Today.wind}}</p>
        <p class = 'Prob'> Осадки {{Today.prob}}</p>

    </div>
</div>
<div class="container mt-5">
    <table  class="table table-striped">
        <h2>Погода на неделю </h2>
        <thead>
            <tr>
                <th>#</th>
                <th>День недели</th>
                <th>Дата</th>
                <th>Температура</th>
                <th>Осадки(%)</th>
                <th>Ветер</th>
            </tr>
        </thead>
        <tbody>
            {% for dict_item in Week_Weather %}
                <tr>
                    <td class="size"> {{ forloop.counter }} </td>
                    {% for key, value in dict_item.items %}
                    {% load util %}
                    {% if value|get_type == 8 %}
                    <td class="size"> {{ value.Днем }}  /  {{ value.Ночью }} </td>
                    {% else %}
                    <td class="size"> {{ value }} </td>
                    {% endif %}
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<script>
var weather = '{{Today.falls}}'
types = {
'пасмурно' : '{% static 'main/img/1.jpg' %}',
'облачно с прояснениями' : '{% static 'main/img/1.jpg' %}',
'малооблачно' : '{% static 'main/img/2.png' %}',
'ясно' : '{% static 'main/img/3.png' %}',
'небольшой дождь' : '{% static 'main/img/4.jpg' %}',
'дождь' : '{% static 'main/img/5.png' %}',
}
const img = document.createElement('img');
img.src = types[weather];
img.style.height = '130px';
img.style.width = '130px';
const container = document.querySelector('#image_info');
container.append(img);
</script>
{% endblock %}